.content-wrapper {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}

.content-wrapper.show-content {
  opacity: 1;
  visibility: visible;
}

.animated-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.show-content .animated-section {
  opacity: 1;
  transform: translateY(0);
}

.MainContainer {
  width: 100%;
  margin-top: -4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  padding-bottom: 20px;
  transition-delay: 0.3s;
}
.itemsInOrder{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  margin-left: 4rem;
 text-align: center;
}

.OrderAmountBox {
  display: flex;
  flex-direction: row;
  width: 40%;
  height: 12rem;
  flex-direction: row;
  justify-content: space-around;
  background-color: #f5f5f5;
  margin: 0 4rem;
  padding: 10px;
  gap: 2rem;
  border-radius: 10px;
  border: 1px solid black;

}

.secondContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-delay: 0.3s;
}

.inputFields {
  background-color: #fff;
  margin: 20px 50px 50px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
}

button {
  background-color: rgba(62, 104, 185, 0.9);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: rgba(62, 104, 185, 1);
  transform: translateY(-2px);
}

button:active {
  transform: translateY(1px);
}
.rightSide {
  height: 15rem;
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-left: 6rem;
  margin-right: 6rem;

}

.summary-section h2 {
  margin-bottom: 20px;
}

.summary-details p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
}

.total {
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
}
