<!-- <div class="PeopleBoxes">
<img src="images\People with boxes flat background.jpg" alt="image not found">
</div> -->
<!-- <app-orderconfirmationanimation></app-orderconfirmationanimation> -->

<app-order-confirmation-tick-animation></app-order-confirmation-tick-animation>
<!-- <app-order-tracking-bar></app-order-tracking-bar> -->
<div class="MainContainer animated-section" [class.show-content]="isContentVisible"
                                            [class.animated-section]="ContentVisible">


<div class="itemsInOrder">
  @for(items of CartItems; track items ){
  <app-items-in-order [productImage]="items.primaryImageUrl || 'images/box not packed.png'"
  [productName]="items.name"
  [productColor]="items.colorId"
  [productSize]="items.sizeId"
  [productPrice]="items.price"></app-items-in-order>
  }
</div>

    <!-- <div><p>subtotal</p><p>Delivery Charge</p><h4><strong>Total Amount</strong></h4></div>
    <div style="text-align: end;"><p>₹900</p><p>₹100</p><h4><strong>₹1000</strong></h4></div> -->

    <div class="rightSide">
      <h2>Order Details</h2>
      <div class="summary-details">
        @for(numberOfItems of CartItems; track numberOfItems){

          <p><span>{{numberOfItems.name}}</span> <span>{{numberOfItems.price | currency:'INR'}}</span></p>
         }
        @if(selectedAddress==1||selectedAddress==2){
          <p class="total"><span>Shipping : </span> <span>{{ '0'| currency:'INR'}}</span></p>
         }
         @else if (selectedAddress==3) {
          <p class="total"><span>Shipping : </span> <span>{{ '50'| currency:'INR'}}</span></p>

         }
        <p class="total"><span>Total:</span> <span>{{ totalPrice| currency:'INR'}}</span></p>
      </div>
      <div class="button">
        <app-long-button
        label="Home"
        routerLink="/addressconfirm"
        ></app-long-button>
      </div>
  </div>
  </div>


  <app-web-feedback-section></app-web-feedback-section>


