.adminDashboardContainer
{
  z-index: 300000;
  font-family: 'Montserrat';
  // padding: 20px;
  // margin-top: 10px;
  overflow: hidden;
  // border: 1px solid #8061c3;
  border-radius: 20px;
}
.greetings{
  font-size: 30px;
}
hr {
  border-top: 2px solid #8061C3;
  margin: 10px;
}
.adminHead{
  display: flex;
  gap: 500px;
  align-items: center;
}
app-admin-values-displaying-button{
}
.monthly-orders {
}
.year-selector{
  display: flex;
  justify-content: end;
  gap: 5px;
  align-items: center;
}
.leftTopIcons{
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 5px;
}

.contents{
  display: flex;
justify-content: space-around;
}

.rightCont{
  // display: flex;
  // flex-direction: column;
  // justify-content: end;
  // align-items: center;
    margin-top: 0px;
}
.rigthTop{
padding-top: 0px;
display: flex;
gap: 25px;

  img{
    height: 40px;
    width: 40px;
  }
}
.rightTopLeft{
  display: flex;
  text-align: center;
align-items: center;
}

.rightTopRight{
  display: flex;
  text-align: center;
align-items: center;

}
.newOrd{
  padding-top: 2%;
  padding-bottom: 2%;
}
.morebut{
  background-color: #8061c3;
  color: white;
  width: 95px;
  border-radius: 30px;
  border: none;
}
