<div class="adminDashboardContainer">
 <div class="adminHead">
  <div class="greetings">Welcome <strong>Admin</strong></div>
 </div>
 <div class="contents">
    <div class="leftCont">
      <div class="leftTopIcons">

          <app-admin-values-displaying-button
        [count]="12"
        [iconSrc]="'icons/graph.png'"
        [label]="'Pending Orders'">
        ></app-admin-values-displaying-button>

        <app-admin-values-displaying-button
        [count]="2000"
        [iconSrc]="'icons/rupee-indian.png'"
        [label]="'This month '">
        ></app-admin-values-displaying-button>

      </div>
      <div class="leftBottom">
        <app-admin-weekly-chart-disp></app-admin-weekly-chart-disp>
        <!-- <img src="staticimages/grpaphtrail.png" alt=""> -->
      </div>


    </div>

    <div class="rightCont">
      <div class="rigthTop">
        <div class="rightTopLeft">
          <img src="icons/clockVoilet.png" alt="adminpageCLock">
          <div class="newOrd">new orders</div>
        </div>
        <div class="rightTopRight">
          <button class="morebut">more</button>
        </div>
      </div>

      <app-admin-recent-orders-in-dash-board></app-admin-recent-orders-in-dash-board>
    </div>
 </div>
</div>

