<button id="button1" data-bs-toggle="modal" data-bs-target="#confirmationModal"
    [ngStyle]="{'background-color': popUp.buttonColor}">
    {{popUp.buttonTitle}}
</button>

<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="confirmationModalLabel">{{popUp.title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{popUp.message}}
            </div>
            <div class="modal-footer d-flex justify-content-center border-0">
                <button type="button" class="btn me-2" data-bs-dismiss="modal"
                    [ngStyle]="{'background-color': popUp.cancelColor, 'color': '#fff'}">
                    {{popUp.cancelText}}
                </button>
                <button type="button" class="btn" (click)="confirmAction"
                    [ngStyle]="{'background-color': popUp.confirmColor, 'color': '#fff'}">
                    {{popUp.confirmText}}
                </button>
            </div>
        </div>
    </div>
</div>