.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 120px;
  background-color: transparent; /* Adjust to match purple */
  border: 2px solid #8061C3;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &:hover {
    transform: scale(1.01);
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 36px;
    color: #8061C3; /* Adjust to match purple */
    img{
      height: 35px;
      width: 35px;
    }
  }



  .countDisp {
    font-size: 40px;
    color: #8061C3; /* Adjust to match number color */
    margin: 8px 0;
  }

  .text{
    width: 100%;
    height: 100%;
    background-color: #8061C3;
  }

  .text p {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10px;
    font-size: 14px;
    color: white;
    font-weight: bold;
  }
}
