@if(global.cartCount()==0){
  <div class="container d-flex flex-column align-items-center justify-content-center vh-100 text-center">
    <div class="cart-logo mb-4">
      <img src="/icons/cart-empty.png" alt="Empty Cart" class="img-fluid" style="max-width: 350px;" />
    </div>
    <!-- <h2 class="mb-3 text-secondary">Your Cart is Empty</h2> -->
    <p class="mb-4 text-muted">Looks like you haven't added anything to your cart yet.</p>
    <app-long-button
      label="Continue shopping"
 (buttonClick)="redirectToHome()"
      ></app-long-button>
  </div>

}
@else {

  <main class="cart-container">

    <div class="card-items">
      <section class="bag-section">
        <h4 class="subheading1"><i class="bi bi-arrow-left-circle-fill" (click)="goBack()"
          style="cursor: pointer; padding-right: 15px;"></i>Add to cart</h4>
        @for(items of cartItemList; track items ){
          <!-- <img [src]="items[0].imageUrl" [alt]="items.productName" /> -->

          <app-product-displaying-bar
            [productImage]="items.productImageUrl || 'images/box not packed.png'"
            [productName]="items.productName"
            [productColor]="items.colorName"
            [productSize]="items.sizeName"
            [productPrice]="items.price"
            [productId]="items.id"
            (clear) = "ngOnInit()"
            >
          </app-product-displaying-bar>

        }


    </section>


  <!--Left Section-->
  <!-- <section class="bag-section">
    <div class="product-card">
      <img src="https://5.imimg.com/data5/HB/VQ/MY-44811379/men-black-plain-t-shirt.jpg" alt="Product Image" class="product-image">
      <div class="product-details">
        <h3>Experion T-Shirt</h3>
        <div class="col">
          <p>Color: Black</p>
          <p>Size: XS</p>
          <p class="price">MRP {{299 | currency:'INR'}}</p>
        </div>

        <div class="actions">
          <app-addto-cart-deletebtn></app-addto-cart-deletebtn>
        </div>
      </div>
    </div>
  </section>

  <section class="bag-section">
    <div class="product-card">
      <img src="https://m.media-amazon.com/images/I/61XuRFe9HJL._AC_UY1100_.jpg" alt="Product Image" class="product-image">
      <div class="product-details">
        <h3>Experion Bag</h3>
        <div class="col">
        <p>Color: Black</p>
        <p> </p>
        <p class="price">MRP {{699 | currency:'INR'}}</p>
        </div>

        <div class="actions">
          <app-addto-cart-deletebtn></app-addto-cart-deletebtn>
        </div>
      </div>
    </div>
  </section> -->
</div>

  <!--Right Section-->
  <aside class="summary-section">
    <h2>Summary</h2>
    <div class="summary-details">
      <!-- <p><span>No of Items:</span> <span>{{global.cartCount()}}</span></p> -->
      <!-- <p><span>Estimated Shipping:</span> <span>{{10 | currency:'INR'}}</span></p> -->
       <!-- @for(numberOfItems of CartItems; track numberOfItems){ -->
        @for(numOfCartItems of cartItemList;track numOfCartItems){


            <p><span>{{numOfCartItems.productName}} x <strong>{{numOfCartItems.quantity}}</strong></span> <span>{{numOfCartItems.price * numOfCartItems.quantity | currency:'INR'}}</span></p>

        }

       <!-- } -->
      <!-- @if(addressType==1){
        <p class="total"><span>Shipping : </span> <span>{{ '0'| currency:'INR'}}</span></p>
       } -->
       <!-- @else if (selectedAddress==3) { -->
        @if(this.global.selectedAddressTypeName() === 'Home'){

          <p class="total" style="color: red;"><span><i class="bi bi-exclamation-triangle-fill" ></i> Shipping charges will be included </span></p>

        }

       <!-- } -->
      <!-- <p><span>Estimated Shipping:</span> <span>{{10 | currency:'INR'}}</span></p> -->
      <p class="total"><span>Total:</span> <span>{{ totalPrice| currency:'INR'}}</span></p>
    </div>
    <!-- <button class="checkout-btn" routerLink="/addressconfirm">Proceed to buy</button> -->
    <div class="button">
      @if(selectedAddress){
        <app-long-button
      label="Confirm Purchase"
 (buttonClick)="placeOrder()"
      ></app-long-button>
      }
      @else {
        <app-long-button
        label="Proceed to buy"
        routerLink="/addressconfirm"
        ></app-long-button>
      }

    </div>
    <!-- <button class="checkout-btn" routerLink="/addressconfirm">Checkout</button> -->
  </aside>


</main>
}
