h1{
  padding-left: 16rem;
}

.product-details{
  display: flex;
  padding-left: 13rem;
}
img{
  max-width: 8rem;
  height: 8rem;
}
h3{

padding-left: 5rem;
padding-top: 5px;

}



.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  position: relative;
}

.btn:hover > .icon {
  transform: scale(1.2);
  cursor: pointer;
  transition: .2s linear;
}

.btn:focus > .icon {
  fill: #fd1853;
  animation: grosseur .2s linear;
}

button{
  padding-left: 7rem;
  padding-bottom: 6.5rem;
}
.dl-icon{
  cursor: pointer;
  padding-left: 6px;
  padding-top: 1.5rem;
  size: 5px;


}
hr{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc;
}

.summery-footer{
  display: flex;
  padding-left: 11rem;
  gap: 11rem;
}

.checkout-btn{
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  cursor: pointer;
}

.total{
  padding-left: 11rem;
  display: flex;
  gap: 13rem;

}


