<div class="custom-dropdown">
  <button class="btn" (click)="toggleDropdown()">
    <i class="bi bi-calendar"></i>
  </button>
  
  <div class="dropdown-content" [class.show]="isOpen">
    <form [formGroup]="form">
      <div class="mb-2">
        <label for="startDate" class="form-label">Start Date</label>
        <input type="date" id="startDate" formControlName="startDate">
      </div>
      <div class="mb-2">
        <label for="endDate" class="form-label">End Date</label>
        <input type="date" id="endDate" formControlName="endDate">
      </div>
      <div class="button-group">
        <button type="button" (click)="resetFilter()">Reset</button>
        <button type="button" (click)="applyFilter()">Apply</button>
      </div>
    </form>
  </div>
</div>