.dropdown .btn {
  color: black;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button[type="button"] {
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 4px;
 }
 
 button:first-child {
  background-color: white;
  color: #8061c3;
  border: 1px solid #8061c3;
 }
 
 button:last-child {
  background-color: #8061c3;
  color: white;
  border: none;
 }
 
 button:hover {
  opacity: 0.9;
 }
.dropdown .btn:hover,
.dropdown .btn:focus{
  transform: translateY(-3px);
}

/* Styling the dropdown menu */
.dropdown-menu {
  background-color: #f8f9fa; /* Light background */
  border: 1px solid #ddd; /* Subtle border */
  border-radius: 8px; /* Rounded corners */
  padding: 10px; /* Spacing inside */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Dropdown shadow */
}

/* Styling the date inputs inside the dropdown */
.dropdown-menu input[type="date"] {
  width: 100%; /* Full width */
  padding: 5px 10px; /* Padding for input */
  margin: 5px 0; /* Spacing between inputs */
  border: 1px solid #ccc; /* Border color */
  border-radius: 5px; /* Rounded corners */
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1); /* Inner shadow */
}

/* Date input hover and focus effects */
.dropdown-menu input[type="date"]:hover,
.dropdown-menu input[type="date"]:focus {
  border-color: #007bff; /* Highlight border on hover/focus */
  outline: none; /* Remove default outline */
}
