<div class="dropdown">
  <button
    class="btn dropdown-toggle"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false">
    <i class="bi bi-calendar"></i>
  </button>
  <ul class="dropdown-menu p-3">
    <form [formGroup]="form">
    <li class="mb-2">
      <label for="startDate" class="form-label">Start Date</label>
      <input
        type="date"
        id="startDate"
        formControlName="startDate"
        class="form-control"
      >
    </li>
    <li class="mb-2">
      <label for="endDate" class="form-label">End Date</label>
      <input
        type="date"
        id="endDate"
        formControlName="endDate"
        class="form-control"
      >
    </li>
    <li class="d-flex justify-content-between">
      <button
        type="button"
        class="btn "
        >
        Reset
      </button>
      <button
        type="button"
        class="btn"
        style="background-color: lightskyblue;"

        data-bs-dismiss="dropdown">
        Apply
      </button>
    </li>
  </form>
  </ul>
</div>
