<div class="thank-you-container">
  <div class="notification-bar">
    <!-- <div class="checkmark">✓</div> -->
    Thank you for your purchase!
  </div>

  <div class="order-details">
    <div class="detail-row">
      <div class="detail-label">Order Number:</div>
      <div class="detail-value">#ORD-{{orderContext[0].orderId}}</div>
      <div class="detail-label">Order Date:</div>
      <div class="detail-value">{{orderContext[0].orderDate}}</div>
    </div>


    <div class="detail-row">
      <div class="detail-label">Shipping Address:</div>
      <div class="detail-value">
       {{orderContext[0].shippingAddress}}
      </div>
    </div>
  </div>
</div>
