.navbar{
  // background-color: ;
  // background: linear-gradient(to top,#106BE6,#65A3f6);
  background: linear-gradient(to bottom,#253d6c,#3f69ba);
}
.top-ribbon {
  background-color: black;
  height: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
}
ul {
  img {
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
  }
}
input {
  border-radius: 50px;
  height: 35px;
  width: 500px;
  border: none;
}
input::placeholder {
  padding: 10px;
}
.btn-icon {
  border: none;
  background: transparent;
  padding: 0;
  position: relative;
  cursor: pointer;
}
.icon-img {
  width: 30px;
}
.custom-badge {
  top: -10px;
  right: -10px;
  background-color: white;
  color: black;
  font-size: 12px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.searchBaring{
padding-left: 5%;
width: 400px;
// padding-right: 20px;
}
