<nav class="navbar navbar-expand-lg bg-custom-blue" style="">
    <div class="container-fluid">
        <img src="images/exMart-logo.png" alt="exMart-logo" style="width: 70px; margin: 10px;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

            <div class="searchBaring">
                <app-user-searchbar></app-user-searchbar>
            </div>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex flex-row align-items-center gap-3">
                <li class="nav-item">
                    <img routerLink="" src="images/home.webp" alt="home" style="width: 30px;">
                </li>
                <li class="nav-item position-relative">
                    <button type="button" class="btn btn-icon">
                        <img routerLink="addcart" src="images/cart.webp" alt="cart" class="icon-img" width="30px">
                        <span class="badge position-absolute custom-badge">{{cartAdd.cartCount()}}</span>
                    </button>
                </li>
                <!-- <li class="nav-item">
                    <img routerLink="userprofile" src="images/user.webp" alt="user" style="width: 30px;">
                </li> -->


                <li class="nav-item">
                    <div class="user-dropdown">
                        <img src="images/user.webp" alt="user" style="width: 30px; cursor: pointer;"
                            (click)="toggleDropdown()">

                        @if (isDropdownOpen) {
                        <div class="dropdown-content">
                            <p style="color: black;">{{userName}}</p>
                            <!-- <a routerLink="userprofile" (click)="closeDropdown()">Profile</a> -->
                            @for (item of menuItems; track item.id) {
                            <a [routerLink]="item.routerLink" (click)="closeDropdown()">
                                <i [class]="item.image"></i>
                                {{item.item}}
                            </a>
                            }
                            <a (click)="logout(); closeDropdown()">Logout</a>
                        </div>
                        }
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>