<div class="page">
    <div class="top">
        <div class="left">
            <app-searchbar></app-searchbar>
            <app-date-rangepicker (dateRangeSelected)="onDateRangeSelected($event)"></app-date-rangepicker>
        </div>
        <div class="right">
            <button class="btn-create-new" (click)="downloadReport()">
                <i class="bi bi-file-arrow-down"></i>{{button.title}}
            </button>
        </div>
    </div>
    <div class="body">
        <div class="container-fluid">
            <table class="table">
                <thead>
                    <tr>
                        @for (item of header; track item) {
                        <th scope="col">{{item}}</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (item of filteredItems; track item) {
                    <tr></tr>
                    }
                    @for (item of filteredItems; track item) {
                    <tr>
                        <!-- <td scope="row">{{item.sl_no}}</td> -->
                        <td scope="row">{{ filteredItems.indexOf(item) + 1 }}</td>
                        <td>{{item.customerId}}</td>
                        <td>{{item.customerName}}</td>
                        <td>{{item.orderId}}</td>
                        <td>{{item.orderDate | date:"YYYY-MM-dd"}}</td>
                        <td>{{item.totalAmount}}</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>