<div class="page">
    <div class="top">
        <app-searchbar></app-searchbar>
        <app-add-button [button]="button"></app-add-button>
    </div>
    <div class="body">
        <div class="container-fluid">
            <table class="table">
                <thead>
                    <tr>
                        @for (item of header; track item) {
                        <th scope="col">{{item}}</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (item of items; track item) {
                    <tr></tr>
                    }
                    @for (item of items; track item) {
                    <tr>
                        <td scope="row">{{item.sl_no}}</td>
                        <td>{{item.employee_id}}</td>
                        <td>{{item.employee_name}}</td>
                        <td>{{item.order_id}}</td>
                        <td>{{item.purchase_date}}</td>
                        <td>{{item.order_total}}</td>
                        <td>
                            <form>
                                <input type="text" placeholder="Courries Charges">
                            </form>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>