<div class="container py-3" style="border-radius: 18px;min-height: 80vh;">
  <div class="mx-auto">
    <!-- Add New Address Button -->
    <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <app-add-address-button
        [buttonLabel]="'Add New Address'"
        (add)="onAddAddress()"
      ></app-add-address-button>
    </button>

    <div style="height: 20px"></div>

    <div class="card border-0 p-2" style="max-height: 380px; overflow-y: auto">
      @if(address.length==0){
        <div class="no-products-container">
          <img src="images\Image (5).png" alt="No Orders" class="no-orders-image">
          <p class="no-orders-message">Oops! you haven't added your home address.</p>
        </div>
      }
      @else {

        @for (data of address; track data) {
          <app-profile-address-card
          [address]="data"
          (edit)="onEdit($event)"
          (delete)="onDelete($event)"
          ></app-profile-address-card>
        }
      }
    </div>

    <div class="backdrop" *ngIf="isAddProductVisible" (click)="onCloseAddProduct()"></div>
    <div class="modal1" *ngIf="isAddProductVisible">
      <div class="modal2 show d-block"  >

<!-- Add address Modal -->
<div
class="modal show d-block"
id="exampleModal"
tabindex="-1"
aria-labelledby="exampleModalLabel"
>
<!-- <div class="modal-dialog"> -->
<!-- <div class="modal show d-block"> -->
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">
        <i class="bi bi-house-add" style="padding-right: 15px">
          Add New Address
        </i>
      </h1>
      <button
        type="button"
        class="btn-close"
        (click)="onCloseAddProduct()"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <app-new-address (modalClose)="onCloseAddProduct()" [editMode]="false" (addressAdded)="refreshAddressList()"></app-new-address>
    </div>
  </div>
<!-- </div> -->
</div>
        </div>

      </div>
      </div>


<!--Edit Address Model-->
<div class="backdrop" *ngIf="iseditProductVisible" (click)="onCloseeditProduct()"></div>
    <div class="modal1" *ngIf="iseditProductVisible">
      <div class="modal2 show d-block"  >
    <div class="modal show d-block" id="editModal" tabindex="-1">
      <!-- <div class="modal-dialog"> -->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit Address</h5>
            <button type="button" (click)="onCloseeditProduct()" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
              <app-new-address (modalClose)="onCloseeditProduct()" [addressId]="addressId" [editMode]="true" [addressData]="selectedAddress" (addressUpdated)="refreshAddressList()"></app-new-address>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
<!-- </div> -->
