<div class="container py-3" style="border-radius: 18px">
  <div class="mx-auto">
    <!-- Add New Address Button -->
    <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <app-add-address-button
        [buttonLabel]="'Add New Address'"
        (add)="onAddAddress()"
      ></app-add-address-button>
    </button>

    <div style="height: 20px"></div>

    <div class="card border-0 p-2" style="max-height: 380px; overflow-y: auto">
      @for (data of address; track data) {
      <app-profile-address-card
        [address]="data"
        (edit)="onEdit($event)"
        (delete)="onDelete($event)"
      ></app-profile-address-card>
      }
    </div>


    <!-- Add address Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
    >
      <div class="modal-dialog">
      <!-- <div class="modal show d-block"> -->
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              <i class="bi bi-house-add" style="padding-right: 15px">
                Add New Address
              </i>
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <app-new-address [editMode]="false" (addressAdded)="refreshAddressList()"></app-new-address>
          </div>
        </div>
      </div>
</div>

<!--Edit Address Model-->
    <div class="modal fade" id="editModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit Address</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
              <app-new-address [addressId]="addressId" [editMode]="true" [addressData]="selectedAddress" (addressUpdated)="refreshAddressList()"></app-new-address>
          </div>
        </div>
      </div>
  </div>
</div>
