button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 170px;
  cursor: pointer;
  gap: 10px;
  color: white;

  img{
    width: 20px;
    height: 20px;
  }
}
