// .color-options {
//   display: flex;
//   gap: 10px;
// }

.color-box {
  width: 30px;
  height: 30px;
  background: lightgray;
  border: 1px solid #007bff;
  border-radius: 50%;
}

.color-box:hover {
border: 2px solid #64A2F5 ;
}

.color-box.red { background-color: rgb(164, 53, 53); }
.color-box.blue { background-color: rgb(33, 60, 128); }
.color-box.green { background-color: rgb(10, 102, 47); }
.color-box.white { background-color: white; }
.color-box.black { background-color: black; }






