.confirm-btn{
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  cursor: pointer;
  margin-bottom: 40px;
}
.modal2 {
  pointer-events: auto;
  height: 470px;
  width: 600px;
}
.show {
  display: block;
}
.address-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.main{
margin-left: 15rem;
margin-right: 15rem;

justify-content: center;
}

.newAddressButton{
 padding: 10px;
 display: flex;
 justify-content: space-between;
}

