
<div class="main">
  <div class="address-title">
    <h4 class="subheading1"> <i class="bi bi-arrow-left-circle-fill" (click)="goBack()"
      style="cursor: pointer; padding-right: 15px;"></i><i class="bi bi-house-add" style="padding-right: 15px;"></i>Choose Address</h4>
      @if(address!=null){
        <app-long-button
        label="Proceed to buy"
        routerLink="/addcart">
     </app-long-button>
      }
      @else{
        <app-long-button
        label="Proceed to buy"
        routerLink="/addcart">
     </app-long-button>
      }

  </div>
  @if(address==null){
    @for (data of address; track data) {
      <app-address-card [address]="data" ></app-address-card>
    }
  }
  @else {
    @for (data1 of workAddress; track data1) {
      <app-address-card [address]="data1" ></app-address-card>
    }
  }





    <div class="newAddressButton">
<!-- disclaimer -->
<div class="disclaimer" *ngIf="workAddress?.length > 0">
  <p class="disclaimer-text">⚠️ You cannot modify work address.</p>
</div>

  <app-add-address-button   [buttonLabel]="'Add New Address'"
  (add)="onAddAddress()"></app-add-address-button>


    </div>

  </div>
  <div class="backdrop" *ngIf="isAddProductVisible" (click)="onCloseAddProduct()"></div>
  <div class="modal1" *ngIf="isAddProductVisible">
    <div class="modal2 show d-block"  >

<!-- Add address Modal -->
<div
class="modal show d-block"
id="exampleModal"
tabindex="-1"
aria-labelledby="exampleModalLabel"
>
<!-- <div class="modal-dialog"> -->
<!-- <div class="modal show d-block"> -->
<div class="modal-content">
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">
      <i class="bi bi-house-add" style="padding-right: 15px">
        Add New Address
      </i>
    </h1>
    <button
      type="button"
      class="btn-close"
      (click)="onCloseAddProduct()"
      data-bs-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <app-new-address (modalClose)="onCloseAddProduct()" [editMode]="false" (addressAdded)="refreshAddressList()"></app-new-address>
  </div>
</div>
<!-- </div> -->
</div>
      </div>

    </div>



<!-- <app-checkoutbutton class="confirm-btn" routerLink="/thankyou" buttonName="Confirm"></app-checkoutbutton> -->
