.container{
  height: px;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 400px;
  padding: 0;
  margin: 0;

}
.prondDis{

}
.highlighted{
  font-size: 100px
}
.discription{
  font-size: 20px;
  margin-bottom: 50px;
}
.proImage{
  img{
    height: 250px;
    width: auto;
  }
}


