<div class="container1">
  <div class="prondDis">
      <div class="highlighted"> T-SHIRT</div>
      <div class="discription">Rs.499</div>

      <app-long-button
      label="But Now"
      [imgAlt]="'Upload Icon'"
      [imgPosition]="'left'"
      [bgColor]="'#64A2F5'"
      ></app-long-button>
  </div>
  <div class="proImage">
      <img src="https://cdn3.getprintbox.com/pbx2-pbww/media/productimage/7387fc0d-8716-43fc-9d75-be5bc8f7cf59/Blank%20Polo%20T-Shirt_thumb_900x900?mt=1581521919.611846" alt="">
  </div>
</div>
