.modal2 {
  pointer-events: auto;
  height: 240px;
  width: 600px;
}
.show {
  display: block;
}
.loader {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  border-top-color: transparent;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 999;
}

.loader.show {
  opacity: 1;
  animation: spin 0.8s linear infinite;
}
