<div class="cAllContainer">
  <div class="heading">All products in exMart</div>
  <div class="content">
    <div class="leftOptions">
      <div class="filters">Filters</div>
      <div class="categories-list">
        @for (category of CategoryList; track category.id) {
        <div class="category-checkbox">
          <input
            type="checkbox"
            [id]="'category-' + category.id"
            [checked]="selectedCategories.includes(category.id)"
            (change)="onCategoryChange(category.id)"
          />
          <label [for]="'category-' + category.id">{{
            category.categoryName
          }}</label>
        </div>
        }
      </div>
    </div>

    <div class="productGrid">
      @for (product of displayedProducts; track product?.id) {
      <app-productcard [cards]="product"></app-productcard>
      }
    </div>
  </div>
</div>
