<div class="cAllContainer">
  <div class="heading">All products in exMart</div>
  <div class="content">
    <!-- <div class="leftOptions"> -->
      <!-- <div class="filters">Filters</div>
      @for (category of CategoryList; track category.id) {
        <div class="category-item">
          <label>
            <input
              type="checkbox"
              [checked]="selectedCategories.has(category.categoryName)"
              (change)="toggleCategory(category.categoryName)">
            {{ category.categoryName }}
          </label>
        </div>
      }
    </div> -->
    <div class="productGrid">
      @for (product of displayedProducts; track product.id) {
        <!-- <p>{{product.name}}</p> -->
        <app-productcard [cards]="product"></app-productcard>
      }
    </div>
  </div>
</div>


