<div class="container">
  <div class="first-container">
    <div class="top">
      <div style="display: flex;">

        <app-searchbar></app-searchbar>
        <div class="right">
          <button class="btn-create-new" (click)="downloadReport()">
            <i class="bi bi-file-arrow-down"></i>
          </button>

          <input type="file" #fileInput (change)="onFileChange($event)" accept=".xlsx, .xls" style="display: none;" />
          <button class="btn-create-new" (click)="fileInput.click()">
            <i class="bi bi-file-arrow-up"></i>
          </button>
        </div>
        <app-date-rangepicker (dateRangeSelected)="onDateRangeSelected($event)"></app-date-rangepicker>
      </div>
      <div class="count-box">
        <app-admin-values-displaying-button [count]="28" [iconSrc]="'icons/clipboard.png'"
          [label]="'Total Orders'"></app-admin-values-displaying-button>

        <app-admin-values-displaying-button [count]="15" [iconSrc]="'icons/delivered (1).png'"
          [label]="'Delivered'"></app-admin-values-displaying-button>
      </div>

    </div>
  </div>

</div>
<app-orderlist-table [OrderList]="filteredItems"></app-orderlist-table>