<div class="mb-3">
  <strong class="heading">{{ label }}</strong>
  <div class="d-flex align-items-center">
    @for (option of options; track option.value) {
      <div class="form-check me-3">
        <input
          class="form-check-input"
          type="radio"
          [id]="id + '-' + option.value"
          [value]="option.value"
          [name]="id"
        />
        <label class="form-check-label" [for]="id + '-' + option.value">
          {{ option.label }}
        </label>
      </div>
    }
  </div>
 </div>
