// body {
//   font-family: Arial, sans-serif;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
//   margin: 0;
//   background-color: #f4f4f4;
// }
// .feedback-form {
//   background: #fff;
//   padding: 20px;
//   border-radius: 8px;
//   width: 100%;
//   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
//   // text-align: center;
// }
.feedback-form input[type="text"] {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 25px;
}
.feedback-form button {
  all: unset;
  font-size: 30px;
  // padding: 10px 15px;
  text-decoration: none;
  background-color: none;
  border: none;
  padding: none;
  // background-color: #007bff;
  color: black;
  // border-radius: 4px;
  margin-left: -2rem;
  margin-top: -15px;
  cursor: pointer;
}
// .feedback-form button:hover {
//   background-color: #0056b3;
// }
form{
  display: flex;
  input{
    width: 100%;
  }
}
