.container1{
  // background-color: #64A2F5;
  background: linear-gradient(to bottom,#253d6c,#3f69ba);
  padding: 5px;
  margin: 0;
  width: 100%;
  .row{
    // width: 100%;
    padding-top: 30px;
    gap: 20px;
    hr{
      color: white;
      border: 2px white solid;
    }
    p{
      color: white;
    }
    ul{
      list-style: none;
      padding-left: 0px;
      li{
        color: white;
        padding-top: 5px;

        i{
          padding-right: 10px;
        }
      }
    }
  }
}
.policyTabs{
  display: flex;
  color: white;
  font-weight: 700;
  gap: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cursoring{
  cursor: pointer;
}

.tndc{
  display: flex;
}

.lineBottom{
  object-fit: fill;
  width: 100%;
  border: solid 1px #253d6c ;
  opacity: 40%;
}
