.productDisplayingSection{
  // height: 1000px;
  width: 100%;
  // background-color: bisque;
}

.productGriding{
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(5,2fr);


}
app-productcard{
  margin-top: 20px;
}

.seeAll{
  color: #3E68B9;
  display: flex;
  justify-content: end;
  padding-right:50px;
  padding-top: 20px;
  cursor: pointer;
  text-decoration: underline;
}
