.productDisplayingSection{
  // height: 1000px;
  width: 100%;
  // background-color: bisque;
}

.productGriding{
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4,2fr);


}
app-productcard{
  margin-top: 20px;
}
