<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <!-- <button
    *ngFor="let item of carouselImages; let ind = index"
    [class.active]="ind === currentImageIndex"
    type="button"
    [attr.data-bs-target]="'#carouselExampleCaptions'"
    [attr.data-bs-slide-to]="ind"
    aria-current="ind === currentImageIndex ? 'true' : null"
    [attr.aria-label]="'Slide ' + (ind + 1)">
  </button> -->
  </div>
  <div class="carousel-inner">
    @for (item of imgcollection; track item; let ind=$index)
    {
    <div class="carousel-item " [class]="ind===0 ? 'active' : ''">
<!-- <div class="carousel-item" [class.active]=""ind = currentImageIndex> -->
      <img [src]='item.imageUrl' class="d-block" alt="...">
    </div>
    }
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
