<div *ngIf="isModalVisible" class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="container">
          <form [formGroup]="addProduct" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label>Image:</label>
              <input type="file" class="form-control" (change)="onFileChange($event)" />
            </div>

            <div class="mb-3">
              <label>Name:</label>
              <input type="text" class="form-control" formControlName="name" placeholder="Enter product name" />
              @if (addProduct.get('name')?.touched && addProduct.get('name')?.invalid) {
                @if (addProduct.get('name')?.hasError('required')) {
                  <small>
                    <div class="alert alert-danger" style="margin: 5px">Name is required</div>
                  </small>
                }
              }
            </div>

            <div class="mb-3">
              <label>Category:</label>
              <select class="form-select" formControlName="categoryId">
                @for (category of categories; track category.id) {
                  <option [ngValue]="category.id">{{ category.label }}</option>
                }
              </select>
            </div>

            <div class="mb-3">
              <label>Description:</label>
              <textarea class="form-control" formControlName="description" placeholder="Enter product description"></textarea>
            </div>

            <div class="mb-3">
              <label>Brand:</label>
              <input type="text" class="form-control" formControlName="brand" placeholder="Enter brand" />
            </div>

            <div class="mb-3">
              <label>Vendor ID:</label>
              <input type="number" class="form-control" formControlName="vendorId" placeholder="Enter vendor ID" />
            </div>

            <div class="mb-3">
              <label>Weight (kg):</label>
              <input type="text" class="form-control" formControlName="weight" placeholder="Enter product weight" />
            </div>

            <div class="mb-3">
              <label>Price (in ₹):</label>
              <input type="text" class="form-control" formControlName="price" placeholder="Enter price" />
            </div>

            @if (addProduct.get('categoryId')?.value === 1) {
              <div class="mb-3">
                <label class="d-block">Sizes:</label>
                <div class="form-check" *ngFor="let size of sizes">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [value]="size.id"
                    [checked]="isSelected('size', size.id)"
                    (change)="onCheckboxChange($event, 'size')"
                  >
                  <label class="form-check-label">{{ size.label }}</label>
                </div>
              </div>
            }

            <div class="mb-3">
              <label class="d-block">Colors:</label>
              <div class="form-check" *ngFor="let color of colors">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [value]="color.id"
                  [checked]="isSelected('color', color.id)"
                  (change)="onCheckboxChange($event, 'color')"
                >
                <label class="form-check-label">{{ color.label }}</label>
              </div>
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
