<div class="container1">
  <div class="content">
    <div class="main-image">
      @if (mainProduct) {
        <div class="image-container" (click)="navigateToProduct(mainProduct.productId)">
          <img [src]="mainProduct.imageUrl" [alt]="mainProduct.productName" />
          <div class="product-info">
            <h3>{{mainProduct.productName}}</h3>
            <p>{{mainProduct.amount}}</p>
          </div>
        </div>
      }
    </div>
    <div class="rightside">
      <div class="header">
        <div class="expHead">EXPERIONITES</div>
        <div class="freqVist">FREQUENTLY BOUGHT THIS</div>
      </div>
      <div class="subImaging">
        @for (product of subProducts; track product.productId) {
          <div class="sub-image" (click)="navigateToProduct(product.productId)">
            <div class="image-container">
              <img [src]="product.imageUrl" [alt]="product.productName" />
              <div class="product-info">
                <h3>{{product.productName}}</h3>
                <p>${{product.amount}}</p>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>






<!-- <div class="container1">
  <div class="content">
    <div class="main-image">
      <img [src]="mainImage" alt="Main Item" />
    </div>
    <div class="rightside">
      <div class="header">
        <div class="expHead">EXPERIONITES</div>
        <div class="freqVist">FREQUENTLY BOUGHT THIS</div>
      </div>
      <div class="subImaging">
        @for (item of subItems; track item) {
          <div class="sub-image">
            <img [src]="item.imageUrl" [alt]="item.altText" />
          </div>
        }
      </div>
    </div>
  </div>
</div> -->
