<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" (click)="openModal()">
  Configurations <i class="bi bi-sliders"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" #staticBackdrop
     data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Configurations</h1>
        <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-configuration-tab></app-configuration-tab>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-primary" (click)="handleSaveChanges()">Save Changes</button>
      </div>
    </div>
  </div>
</div>
