.circle-checkmark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

.fade-out {
  margin-top:-200px;
  opacity: 1;
  pointer-events: none;
  transition: 1.5s ease-out;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-out forwards;
}

svg {
  width: 100px;
  height: 100px;
}

.circle {
  fill: none;
  stroke: #4caf50;
  stroke-width: 4;
}

.tick {
  fill: none;
  stroke: #4caf50;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 30;
  stroke-dashoffset: 30;
  animation: drawTick 0.5s ease-out 0.05s forwards;
}

@keyframes drawTick {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
