<div class="row mb-4" *ngIf="filteredOrderItem">
  <div class="col-md-11 border p-3 rounded bg-light" style="width: 900px;">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <img
          [src]="filteredOrderItem.productImageUrl"
          [alt]="filteredOrderItem.productName"
          class="img-fluid me-3"
          style="width: 145px"
        />
        <div>
          <p>
            <strong>{{filteredOrderItem.productName}}</strong><br/>
            <small>Color: {{filteredOrderItem.colorName}}</small><br />
            <small>Size: {{filteredOrderItem.sizeName}}</small>
          </p>
        </div>
      </div>
      <div class="text-end">
        <p>
          <strong>Quantity:</strong> {{filteredOrderItem.quantity}}<br />
          <strong>Shipping Charge:</strong> {{filteredOrderItem.shippingCharge | currency : "INR"}}<br />
          <strong>Price:</strong> {{filteredOrderItem.price | currency : "INR" }}
        </p>
      </div>
    </div>
  </div>
</div>
