.container1{
  // background-color: #3E68B9;
  background: linear-gradient(to bottom,#253d6c,#3f69ba);
  height: 20vh;
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px !important;
  padding-right: 0px;
  margin: 0px !important;
  }
