.container{
  background-color: #3E68B9;
  height: 20vh;
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px !important;
  padding-right: 0px;
  margin: 0px !important;
  }
