<div class="container">
  @for (category of categories; track category.id) {
    <app-category-button
      [iconSrc]="category.iconSrc"
      [label]="category.label"
      [routerLink]="category.routerLink"
    ></app-category-button>
  }
</div>

<!-- <div class="container1">
  <app-category-button
  [iconSrc]="'icons/garments.png'"
  [label]="'garments'"
  routerLink="/home/category/garments"
  ></app-category-button>

  <app-category-button
  [iconSrc]="'icons/appliance.png'"
  [label]="'appliances'"
  routerLink="/home/category/appliance"

  ></app-category-button>

  <app-category-button
  [iconSrc]="'icons/stationary.png'"
  [label]="'stationary'"
  routerLink="/home/category/stationary"

  ></app-category-button>
</div> -->
