.body {
  padding: 25px;
  // border: 1px solid #8061c3;
  // border: none;
  border-radius: 20px;
  height: 75vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  ::-webkit-scrollbar {
    display: none;
  }
}
.container-fluid {
  flex: 1;
  overflow-y: auto;
  padding: 0;
  box-sizing: border-box;
}
table {
  margin: 0;
  border-collapse: collapse;
}

th {
  color: #8061c3;
  font-weight: 700;
  // background-color: #faefff;
}

td {
  color: gray;
}

th,
td {
  text-align: center;
  vertical-align: middle;
}

thead {
  position: sticky;
  top: 0;
  z-index: 1020;
  background-color: white;
}

tbody {
  padding-bottom: 20px;
}