<div class="body">
    <div class="container-fluid">
        <table class="table">
            <thead>
                <tr>
                    @for (item of header; track item) {
                    <th scope="col">{{item}}</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (item of items; track item) {
                <tr></tr>
                }
                @for (item of items; track item) {
                <tr>
                    <th scope="row" style="color: black;">{{item.id}}</th>
                    <td><img src={{item.primaryImageUrl}} class="img-fluid rounded-start" alt="" style="width: 40px;">
                    </td>
                    <td>{{item.categoryId}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.price}}</td>
                    <td>
                        <a class="btn btn-primary btn-sm" (click)="service.editProduct(item)"
                            style="margin-right: 5px; color: #ffffff; background-color: #5DADE2; border: none;">
                            <i class="bi bi-pen"></i>
                        </a>
                        <button type="button" class="btn btn-sm" [class.btn-success]="item.isActive"
                            [class.btn-danger]="!item.isActive" (click)="toggleStatus(item)">
                            <i class="bi" Class="item.isActive ? 'bi-check-circle' : 'bi-x-circle'"></i>
                        </button>
                        <!-- <a class="btn btn-primary btn-sm"
                            style="margin-right: 5px; color: #ffffff; background-color: #EC7063; border: none;">
                            <i class="bi bi-trash3"></i>
                        </a> -->
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>