<div class="col-md-12 border p-3 rounded bg-light text-start" style="max-width:300px; height: 240px;">
  <h6 style="color: #6a0dad">
    <i class="bi bi-person-circle"></i> Customer Details
  </h6>
  <div class="order-details" style="margin-top: 25px;line-height: 18px; font-size: small;">
    <p>Name: <strong>{{OrderDetailsByID.name}}</strong></p>
    <p>e-mail: <strong>{{OrderDetailsByID.email}}</strong></p>
    <p>Phone: <strong> {{OrderDetailsByID.phone}}</strong></p>
    <!-- <p>Branch Office: <strong>Trivandrum</strong></p>
    <p>Branch: <strong>DU6</strong></p> -->
  </div>
</div>
