// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.heading1{  font-size: 60px;}
.heading2{  font-size: 50px;}
.subheading1{ font-size: 40px;}
.subheading2{  font-size: 30px;}
.para1{  font-size: 20px;}
.para2{  font-size: 15px;}
