<div class="container mt-4" style="max-width: 985px">
  <div class="card" style="border: 2px solid #6a0dad">
    <div
      class="card-header text-white d-flex justify-content-between align-items-center"
      style="background-color: #6a0dad"
    >
      <h5>Order: #1024000034567</h5>
      <button
        class="btn-close btn-close-white"
        style="font-size: 16px"
        aria-label="Close"
        (click)="closeCard()"
      ></button>
    </div>

    <div class="card-body" style="padding: 30px">
      <div class="row mb-4">
        <div class="col-md-12 border p-3 rounded bg-light" style="width: 920px">
          <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
              <img
                src="https://via.placeholder.com/100"
                alt="Product Image"
                class="img-fluid me-3"
                style="width: 145px"
              />
              <div>
                <p>
                  <strong>Experion Sweater for Men</strong><br />
                  <small>Color: Dark Blue</small><br />
                  <small>Size: XL</small>
                </p>
              </div>
            </div>

            <div class="text-end">
              <p>
                <strong>Quantity:</strong> 2<br />
                <strong>Price:</strong> $10
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row text-center" style="gap: 10px">
        <div
          class="col-md-4 border p-3 rounded bg-light text-start"
          style="max-width: 300px"
        >
          <h6 style="color: #6a0dad">
            <i class="bi bi-person-circle"></i> Customer Details
          </h6>
          <div class="order-details">
            <p><strong>Akshay Vijayakumar</strong></p>
            <p>Mail: <strong>akshay2experionglobal.com</strong></p>
            <p>Phone:<strong> 9074661243</strong></p>
            <p>Branch Office:<strong>Trivandrum</strong></p>
            <p>Branch:<strong>DU6</strong></p>
          </div>
        </div>

        <div
          class="col-md-4 border p-3 rounded bg-light text-start"
          style="max-width: 300px"
        >
          <h6 style="color: #6a0dad">
            <i class="bi bi-receipt"></i> Billing Details
          </h6>
          <div class="order-details">
            <p>Order No: <strong>#1024000034567</strong></p>
            <p>Bill Date: 11/12/2024</p>
            <p>Total Amount: <strong>$20</strong></p>
            <p>Billing Status: <span class="badge bg-success">Done</span></p>
          </div>
        </div>

        <div
          class="col-md-4 border p-3 rounded bg-light text-start"
          style="max-width: 300px"
        >
          <h6 style="color: #6a0dad">
            <i class="bi bi-truck"></i> Shipment Details
          </h6>
          <div class="order-details">
            <p>2186 Joyce Street Rocky Mount</p>
            <p>House No: 21/B</p>
            <p>City: Trivandrum</p>
            <p>Pin Code: 695581</p>
            <p>State: Kerala</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
