<div >
  <h5 style="font-size: 1.2rem; display: flex; align-items: center; gap: 10px;">
  </h5>
  <div
    class="card border-0 p-2"
    [style.maxHeight]="maxHeight"
    style="overflow-y: auto;">
    
    @for (item of items; track item) {
      <app-order-item
      [id]="item.orderId"
      [orderItemId]="item.orderItemId"
      [amount]="item.amount"
      [imageUrl]="item.primaryImageUrl"
      [title]="item.productName"
      [status]="item.status"
      [Procolor]="item.colorName"
      [ProSize]="item.sizeName"
      [ProQuant]="item.quantity"
      [ProShipCharge]="item.shippingCharge"
      [AddressLine]="item.addressLine"
      [ProPrice]="item.product_amount"
      [ProId]="item.productId"
      ></app-order-item>
    }
  </div>
 </div>
