<!-- @for (item of data; track item.id;){ -->
<div class="product-details">
  <h3 style="font-size: 20px">
    <strong>{{ data.name }}</strong>
  </h3>
  <div style="font-size: 15px">
    <p>{{ data.description }}</p>
    <p>{{ data.brand }}</p>
    <p>
      <strong>MRP ₹{{ data.price }}</strong>
    </p>
    <div class="color-options">
    @for(ColorId of data.colorId; track ColorId){
    <!-- {{data.colorId}} -->
    <app-color-button [ColorId]="ColorId" (colorSelected)="handleColorSelect($event)" [ngClass]="{'active': colorId == ColorId}" [(ngModel)]="colorId" (change)="checkSelection()"></app-color-button>
    }
    </div>
    <br />
    <div class="size-options">
    @for(SizeId of data.sizeId; track SizeId){
    <!-- {{data.sizeId}} -->
      <app-size-button [SizeId]="SizeId" (sizeSelected)="handleSizeSelect($event)" [ngClass]="{'active': sizeId == SizeId}" [(ngModel)]="sizeId" (change)="checkSelection()"></app-size-button>
    }
  </div>

@if(message){
  <div class="alert alert-warning">
    {{ message }}
</div>
}

    <div class="quantity">
      <label for="quantity"></label>
      <input type="number" id="quantity" placeholder="1" min="1" [value]="1" [(ngModel)]="quantity" (ngModelChange)="onQuantityChange()"/>
    </div>
    <div class="rating">
      <!-- <app-star-rating [rating]="data.rating"></app-star-rating> -->
    </div>
    <div class="actions">
      <button class="add-to-bag-btn" (click)="addtocart()" [disabled]="!colorId || !sizeId">Add to Bag</button>

    </div>
  </div>
</div>
<!-- } -->
