@for (item of data; track item.id;){
<div class="product-details">
  <h3 style="font-size: 20px"><strong>{{ item.productName }}</strong></h3>
  <div style="font-size: 15px">
    <p>{{ item.description }}</p>
    <p>
      <strong>MRP ₹{{ item.price }}</strong>
    </p>
    <p><strong>Colour:</strong> {{ item.color }}</p>

    <div class="color-options">
      @for(i of item.colors ; track i){
        <button class="color-box" [ngClass]="{'red': i === 'red', 'blue': i === 'blue','white': i === 'white','black': i === 'black','green': i === 'green'}"></button>
      }
      </div>
    <!-- <div class="color-options">
      <button class="color-box">
        <div [ngStyle]="{ 'background-color': arr.colors }"></div>
        {{ details.product.colors}}
      </button>
    </div> -->
    <br />

    <div class="size-options">
      @for(i of item.sizes ; track i){
      <button class="size-circle">{{ i }}</button>
    }
    </div>

    <div class="quantity">
      <label for="quantity"></label>
      <input type="number" id="quantity" placeholder="1" min="1" [value]="1" />
    </div>
    <div class="rating">
      <app-star-rating [rating]="item.rating"></app-star-rating>
    </div>
    <div class="actions">
      <button class="add-to-bag-btn"  (click)="addtocart()">Add to Bag</button>
    </div>
  </div>
</div>
}
