<nav>
    <aside>
        <ul>
            <img src="images/exMart-logo.png" alt="exMart-logo" style="width: 90px; height: 50px; margin: 10px;">
            <li><img src="images/dashboard-white.png" style="width: 18px; margin: 8px;">Dashboard</li>
            <li><img src="images/products-white.png" style="width: 18px; margin: 8px;">Products</li>
            <li><img src="images/orders-white.png" style="width: 18px; margin: 8px;">Orders</li>
            <li><img src="images/Feedback-white.png" style="width: 18px; margin: 8px;">Feedback</li>
        </ul>
    </aside>
</nav>