.card{
  height: 100%;
  object-fit: contain;
}
img{
  height: 150px;
  // width: 150px;
  object-fit: contain;
}
.btn{
  font-size: 12px;
  border-radius: 0;
  height: 2rem;
  width: 6rem;
}
p{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-body{
  
}

.bottom{
  display: flex;
  gap: 10px;
  align-items: center;
}
// .color-circle{
//   width: 20px;
//   height: 20px;
//   border-radius: 50px;
//   border: 1px solid black;
//   margin-right: 5px;
// }
// .colourblock{
//   display: flex;
// }

.category-head{
  padding-left: 15px;
}

// .color-circle.red { background-color: red; }
//   .color-circle.blue { background-color: blue; }
//   .color-circle.white { background-color: white; }
//   .color-circle.black { background-color: black; }
