<div class="main">
  <section class="categories-section">
    <h2>Current Categories</h2>
    <div class="categories">
      <div class="category-card">
        <img
          src="https://static.thenounproject.com/png/1241514-200.png"
          alt="Garments"
        />
        <div class="category-name"><p>Garments</p></div>
        <div class="category-actions">
          <button><i class="bi bi-pencil-square"></i></button>
          <button><i class="bi bi-trash3"></i></button>
        </div>
      </div>

      <div class="category-card">
        <img
          src="https://cdn-icons-png.flaticon.com/512/737/737004.png"
          alt="Appliances"
        />
        <div class="category-name"><p>Appliances</p></div>
        <div class="category-actions">
          <button><i class="bi bi-pencil-square"></i></button>
          <button><i class="bi bi-trash3"></i></button>
        </div>
      </div>

      <div class="category-card">
        <img
          src="https://cdn-icons-png.flaticon.com/512/6820/6820171.png"
          alt="Stationery"
        />
        <div class="category-name"><p>Stationery</p></div>
        <div class="category-actions">
          <button><i class="bi bi-pencil-square"></i></button>
          <button><i class="bi bi-trash3"></i></button>
        </div>
      </div>
    </div>
  </section>

  <div class="add-category">
    <div class="category-component">
      <button
        type="button"
        class="add-btn"
        data-bs-toggle="modal"
        data-bs-target="#exam"
      >
      </button>
      <app-add-new-category></app-add-new-category>
    </div>
  </div>
  <div class="edit-policies">
    <!-- <span>Edit policies</span> -->
    <!-- Button trigger modal -->

    <button
      type="button"
      class="policy-btn"
      data-bs-toggle="modal"
      data-bs-target="#static"
    >
      <i class="bi bi-pen"></i>
    </button>
      <!-- <i class="bi bi-pen"></i> -->
  
    <app-edit-policiesapp-edit-policies></app-edit-policiesapp-edit-policies>
  </div>
</div>
