<div class="container">
  <app-policy-buttons
[iconSrc]="'icons/box.png'"
[title]="'SHIPPING POLICY'"
[description]="'There is a separate policy for the shipping of goods'"
></app-policy-buttons>

<app-policy-buttons
[iconSrc]="'icons/payment-method.png'"
[title]="'PAYMENT POLICY'"
[description]="'There is separate policy for the payment of goods'"
></app-policy-buttons>

<app-policy-buttons
[iconSrc]="'icons/customerSupIcon.png'"
[title]="'SUPPORT'"
[description]="'Ping us anytime for any clarity regarding the purchase of goods'"
></app-policy-buttons>

</div>

