<div class="container1">
  <app-policy-buttons
    [iconSrc]="'icons/box.png'"
    [title]="'SHIPPING POLICY'"
    [description]="'There is a separate policy for the shipping of goods'"
    (click)="navigateToPolicy('shipping')"
  ></app-policy-buttons>

  <app-policy-buttons
    [iconSrc]="'icons/payment-method.png'"
    [title]="'PAYMENT POLICY'"
    [description]="'There is separate policy for the payment of goods'"
    (click)="navigateToPolicy('payment')"
  ></app-policy-buttons>

  <app-policy-buttons
    [iconSrc]="'icons/note-sticky-regular.svg'"
    [title]="'TERMS AND CONDITIONS'"
    [description]="'Terms and condition is specified here'"
    (click)="navigateToPolicy('terms')"
  ></app-policy-buttons>
</div>




<!-- <div class="container1">
  <app-policy-buttons
[iconSrc]="'icons/box.png'"
[title]="'SHIPPING POLICY'"
[description]="'There is a separate policy for the shipping of goods'"
></app-policy-buttons>

<app-policy-buttons
[iconSrc]="'icons/payment-method.png'"
[title]="'PAYMENT POLICY'"
[description]="'There is separate policy for the payment of goods'"
></app-policy-buttons>

<app-policy-buttons
[iconSrc]="'icons/note-sticky-regular.svg'"
[title]="'TERMS AND CONDITIONS'"
[description]="'Terms and condition is specified here'"
></app-policy-buttons>
</div>
 -->
