<div #carousel class="carousel">
  <!-- list item -->
  <div class="list">
    <div *ngFor="let item of sliderItems" class="item">
      <div class="image-container">
        <img [src]="item.imageUrl" alt="Image">
        <div class="overlay"></div>
      </div>
      <div class="content">

        <div class="author">{{ item.categoryName }}</div>
        <div class="title">{{ item.productName }}</div>
        <div class="topic">₹{{ item.productPrice }}</div>
        <!-- <div class="des">{{ item.description }}</div> -->
        <div class="buttons">
          <button (click)="seeMore(item.productId)">VIEW MORE</button>
          <!-- <button (click)="subscribe(item)">VIEW MORE</button> -->
        </div>
      </div>
    </div>
  </div>

  <!-- list thumbnail -->
  <div class="thumbnail">
    <div *ngFor="let thumbnail of sliderItems" class="item">
        <img [src]="thumbnail.productImage" alt="Thumbnail">
        <div class="content">
          <div class="title">{{ thumbnail.productName |slice:0:14 }}</div>
          <!-- <div class="description">{{ thumbnail.description }}</div> -->
        </div>

    </div>
  </div>

  <!-- next prev -->
  <div class="arrows">
    <button id="prev" (click)="showSlider('prev')"><i class="bi bi-arrow-left"></i></button>
    <button class="next" id="next" (click)="showSlider('next')"><i class="bi bi-arrow-right"></i></button>
  </div>

  <!-- time running -->
  <!-- <div class="time"></div> -->
</div>
