<body>
  <div class="login-container">
    <div class="login-header">
      <h4>USER LOGIN</h4>
    </div>
    <div class="login-avatar">
      <img src="https://cdn-icons-png.flaticon.com/512/3177/3177440.png" alt="User Avatar">
    </div>
    <form class="login-form" [formGroup]="LoginForm" (ngSubmit)="submit()">
      <div class="form-group">
        <input type="email" placeholder="Email" required formControlName="email">
        <span class="icon">&#128231;</span>
      </div>
      <div class="validation-message">
            @if (LoginForm.get('email')?.invalid && LoginForm.get('email')?.touched) {
             invalid email⚠️
            }
        </div>
      <div class="form-group">
        <input type="password" placeholder="Password" required  formControlName="password">
        <!-- <span class="icon"><i class="fa-light fa-eye-slash"></i></span> -->
      </div>
      <a href="#" class="forgot-password">Forgot Password</a>
      <button type="submit" class="login-button">LOGIN</button>
    </form>
  </div>
  <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button> -->
  <!-- modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Welcome, <strong>{{name}}</strong> </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="basic-url" class="form-label">Phone Number :</label>
            <div class="input-group">
              <span class="input-group-text" id="basic-addon3">+91</span>
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" [(ngModel)]="phoneNumber"
              name="phoneNumber">
            </div>
            <div class="form-text" id="basic-addon4">Phone number is required for communication !</div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" (click)="addNewUser()" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</body>
