<body>
<!-- slide show -->
 <div class="container">
    <div class="illustration">
      <div class="carousel">
        <div class="slides">
          <div class="slide">
            <img src="/images/rb_8432.png" alt="Experion-brand">
            <div class="slide-text">
              <span class="slide-text-main">Become the experion brand</span>
              <span class="slide-text-sub">Together, we innovate, inspire, and lead from within</span>
            </div>
          </div>
          <div class="slide">
            <img src="/images/spirit.png" alt="spirit">
            <div class="slide-text">
              <span class="slide-text-main">Own the Experion Spirit</span>
              <span class="slide-text-sub">Embrace the values that drive us,the vision that inspires us</span>
            </div>
          </div>
          <div class="slide">
            <img src="/images/by-us.png" alt="by-us">
            <div class="slide-text">
              <span class="slide-text-main">For Us By Us</span>
              <span class="slide-text-sub">A platform built for Experion employees—where convenience meets exclusive rewards</span>
            </div>
          </div>
          <div class="slide">
            <img src="/images/for-you-removebg-preview.png" alt="for-you">
            <div class="slide-text">
              <span class="slide-text-main">Designed for You Powered by Us</span>
              <span class="slide-text-sub">A platform crafted exclusively for Experion employees—where every purchase reflects our shared values</span>
            </div>
          </div>
          <div class="slide">
            <img src="/images/experiance-removebg-preview.png" alt="Experiance">
            <div class="slide-text">
              <span class="slide-text-main">Experience the Experion Edge</span>
              <span class="slide-text-sub">Shop from a curated collection of products and services, available only to our team</span>
            </div>
          </div>
        </div>
        <div class="carousel-indicators">
          <div class="indicator"></div>
          <div class="indicator"></div>
          <div class="indicator"></div>
          <div class="indicator"></div>
          <div class="indicator"></div>
        </div>
      </div>
    </div>
    <!-- Right side section -->
    <div class="right-sec">
      <div class="logo">
        <img src="icons\exMartlogov1.png" alt="ExMart Logo">
      </div>
      <div class="login-form">
        <h2>Welcome</h2>
        <form class="login-form" [formGroup]="LoginForm" (ngSubmit)="submit()">
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" id="email" placeholder="Enter your email" required formControlName="email"/>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Enter your password" required formControlName="password"/>
          </div>
          <div class="form-actions">
            <a href="">Forgot Password?</a>
          </div>
          <button type="submit" class="login-btn">
@if(isLoading){
  <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>

}
            Log In</button>
        </form>
      </div>
    </div>
  </div>

  <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button> -->
  <!-- modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Welcome, <strong>{{name}}</strong> </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="basic-url" class="form-label">Phone Number :</label>
            <div class="input-group">
              <span class="input-group-text" id="basic-addon3">+91</span>
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" [(ngModel)]="phoneNumber"
              name="phoneNumber">
            </div>
            <div class="form-text" id="basic-addon4">Phone number is required for communication !</div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" (click)="addNewUser()" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</body>
