.feedback-filter {
  display: flex;
  justify-content: center;
}
.btn-group {
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.btn {
  transition: all 0.3s ease;
}
button{
  height: 3rem;
  width: 9rem;
  font-size: 10px;
  &:hover{

    background-color: #6610f2;
  }


}
