.OrderDetails{
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}
.eachOrderDetails{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.OrderDetailsText{
  text-align: start;
  margin-bottom: 20px;
}
img{
  width: 150px;
}

.vertical-line{

  border: 1px;

}
