.dropdown-toggle{
margin-top: 20px;
margin-left: 30px;
border: none;
}

.collapseExample{
margin-left: 40px;
}
button,div{
font-size: 15px;
}


.card{
  margin-left: 30px;
  margin-right: 30px;
}




.btn {
  margin-bottom: 10px;
}

.collapse {
  display: none;
}

.collapse.show {
  display: block;
}




