<!-- product-feedback.component.html -->
<div class="table table-hover mt-5">
  <div class="toggle-button">
    <app-product-feedback-toggle (filterChange)="onFilterChange($event)"></app-product-feedback-toggle>
  </div>
  <div>
    <div class="card-body scrollable-card">
      <table class="table table-borderless align-middle">
        <thead class="text-muted border-bottom">
          <tr>
            <th scope="col" class="sticky-col">Employee</th>
            @if (shouldShowProductColumn()) {
              <th scope="col" class="sticky-col">Product Name</th>
            }
            <th scope="col" class="sticky-col">Feedback</th>
          </tr>
        </thead>
        <tbody>
          @for (item of filteredFeedback; track item) {
            <tr class="border-bottom hover-row">
              <td class="d-flex align-items-center">
                <img
                  src="https://cdn-icons-png.flaticon.com/128/149/149071.png"
                  alt="Profile Picture"
                  class="rounded-circle me-3 shadow-sm"
                />
                <span class="fw-bold">{{ item.userName }}</span>
              </td>
              @if (shouldShowProductColumn()) {
                <td>
                  <p class="mb-0 text-muted">{{ item.productName }}</p>
                </td>
              }
              <td>
                <p class="mb-0 text-muted">{{ item.feedBack }}</p>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
