.card {
  border-radius: 10px;
  width:150vh;
}
.table{
  max-height: 100vh;
}

.card-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.table th {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.table td {
  vertical-align: middle;
}

img {
  width: 30px;
  height: 30px;
  object-fit: cover
}

.action-icon {
  color:  #8061c3;
  transition: transform 0.3s ease, color 0.3s ease;
  font-size: 1.5rem;
  cursor: pointer;
}

.action-icon:hover {
  color: #000000;
  transform: scale(1.2);
}

.hover-row:hover {
  background-color: #f9f9f9;
}

.text-muted {
  font-size: 0.9rem;
}

img {
  border: 2px solid #e9ecef;
}

.text-end {
margin-right: 20px;
}

th {
color: #8061c3
}
.replay-btn {
all: unset;
}
.replay-modal{
  display: flex;
  justify-content: center;
}
