.product-list {
  width: 300px;
  margin: auto;
}

.product-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.product-index {
  font-weight: bold;
  margin-right: 10px;
}

.product-details {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.product-image {
  img{
    width: 40px;
  height: 40px;
  border-radius: 4px;
  margin-right: 10px;
  }

}

.product-info {
  padding: 3px;
  flex-grow: 1;
}

.product-name {
  padding-left: 13px;
  font-size: 12px;
  font-weight: 900;
}

.product-price {
  padding-left: 13px;
  font-size: 10px;
  color: #A0a0a0;
}

hr {
  border-top: 2px solid #8061C3;
  margin: 10px;
}
