<app-bredcrumb></app-bredcrumb>

<div class="main" >
  <div class="product-card">
  <!-- @for (data of card; track data.id) { -->
  <!-- @for(item of data[0].imageCollectionUrl; track data.id){ -->
  <!-- @for (item of productDetails; track item.id;){ -->
    <!-- <app-single-card [data]="item.productDetails"></app-single-card> -->
    <!-- <app-single-card [data]="item.productDetails"></app-single-card> -->

    <!-- } -->
  </div>
  <div class="product-carousel">
    @if (productImages) {
      <app-single-carousel [imgcollection]="productImages"></app-single-carousel>
    }
  </div>
  <div class="product-detail">
<app-single-product-detail [data]="productDetails"></app-single-product-detail>
<app-single-page-dropdown [data]="productDetails"></app-single-page-dropdown>
  </div>
</div>
