<div class="sidenav">
    <div class="logo-container">
        <app-logout-button [button]="backButton" routerLink=""></app-logout-button>
        <img src="images/exMart-logo.png" alt="exMart-logo" style="width: 100px; height: 60px; margin: 10px;">
    </div>
    <div class="sidenav-nav">
        @for (item of menuItems; track item.id) {
        <li class="sidenav-nav-item">
            <a class="sidenav-nav-link" routerLink={{item.routerLink}} routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}">
                <i class="sidenav-link-icon" [class]="item.image"></i>
                <span class="sidenav-link-text">{{item.item}}</span>
            </a>
        </li>
        }
    </div>
    <div class="logout">
        <app-logout-button [button]="button"></app-logout-button>
    </div>
</div>