// .size-options {
//   display: flex;
//   gap: 10px; /* Space between circles */
// }

.size-circle {
  width: 30px; /* Adjust size as needed */
  height: 30px; /* Make height equal to width for a circle */
  border-radius: 50%; /* This makes it a circle */
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0; /* Light gray background */
  border: 1px solid #ccc; /* Optional border */
  font-size: 14px; /* Adjust font size as needed */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.size-circle:hover {
  background-color: #007bff; /* Change background on hover */
  color: white; /* Change text color on hover */
  border-color: #0056b3; /* Change border color on hover */
}


.color-box {
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid #007bff;
  border-radius: 50%;
}

.color-box:hover {
border: 2px solid #64A2F5 ;
color:#64A2F5
}

.color-box.red { background-color: rgb(164, 53, 53); }
.color-box.blue { background-color: rgb(33, 60, 128); }
.color-box.green { background-color: rgb(10, 102, 47); }
.color-box.white { background-color: white; }
.color-box.black { background-color: black; }

.size-box {
border: none;
background-color: white;
}





