main{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
}
.headers{
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}
.saveButton{
  padding-top: 5px;
  padding-bottom: 5px;
}
.textEditorName{
  display: flex;
  justify-content: start;
  font-size: 20px;
}
.exmartLogo{
  display: flex;
  justify-content: end;
  img{
    height: 7%;
    width: 7%;
  }
}
